* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#__next {
  height: 100%;
}

.page-structure-with-history {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(200px, 250px) 1fr 250px;
  grid-template-rows: 64px 1fr;
  grid-template-areas:
    "header header header"
    "sidebar main history";
}

.page-structure-without-history {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(200px, 250px) 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

@media screen and (min-width: 1600px) {
  .page-structure-with-history {
    grid-template-columns: minmax(200px, 300px) 1fr 250px;
  }
  .page-structure-without-history {
    grid-template-columns: minmax(200px, 300px) 1fr;
  }
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
  background-color: #f7fafc;
  overflow: auto;
}
.main {
  grid-area: main;
  overflow: auto;
  background-color: #f7fafc;
}
.history {
  grid-area: history;
  background-color: #f7fafc;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  position: relative;
  overflow: auto;
}
thead {
  position: sticky;
  top: 0;
  background-color: #f7fafc;
  color: #718096;
  font-size: 16px;
}

/* make row striped */
tr:nth-child(even) {
  background-color: #f7fafc;
}
/* make row hoverable */
tr:hover {
  background-color: #e2e8f0;
}
/* make header fixed */
th,
td {
  text-align: left;
  padding: 4px 8px;
  /* no wrap */
  white-space: nowrap;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}
th {
  top: 0;
  background-color: #f7fafc;
  color: #718096;
  font-size: 16px;
  max-width: 400px;
}

.spinner_aj0A {
  transform-origin: center;
  animation: spinner_KYSC 0.75s infinite linear;
}
@keyframes spinner_KYSC {
  100% {
    transform: rotate(360deg);
  }
}
